
# folders
8bit_adders/
builds/
debug/
*outputs/
sources/
*logs/
quantized/
# *results/

# C5.0 outputs and mods
*.info
*.tree
*.datalog
*.testlog
*.output
*.tmp
*.o


# Python outputs
# *.csv

# Generated temporary or simulation-specific HSPICE files
# TODO: Find a better suited file extension
*.txt

# python and IDE folders
__pycache__/
.vscode/
.ipynb_checkpoints/
.mypy_cache/
.dmypy.json
.pytest_cache/
.idea/

# Other
*teste*
*scope*
*.png
*.bak