
# folders
8bit_adders/
build/
debug/
outputs/
sources/
logs/

# C5.0 outputs and mods
*.info
*.tree
*.datalog
*.testlog
*.output
*.tmp
*.o

# Generated temporary or simulation-specific HSPICE files
# TODO: Find a better suited file extension
*.txt

# python and IDE folders
__pycache__/
.vscode/
.ipynb_checkpoints/
.mypy_cache/
.dmypy.json

# Other
*teste*
*scope*
*.png
*.bak